<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <style>
  /***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  position:fixed;
}

.profile-userpic  {
  padding-left:50px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  /* min-height: 460px; */
}

.checked {
  color: orange;
}

  </style>
</head>
<body>
  <div class="container">
      <div class="row profile">
  		<div class="col-md-3">
  			<div class="profile-sidebar">
  				<!-- SIDEBAR USERPIC -->
  				<!-- <div class="profile-userpic">
  					<img src="https://scontent.fblr5-1.fna.fbcdn.net/v/t1.0-1/c0.62.160.160/p160x160/27750096_1444081532369965_2783240621114773383_n.jpg?_nc_cat=0&oh=8c0d5f4cc55f29743a37482122e35e9d&oe=5B7B50D0" style="border-radius: 50%;" alt="Ankita Kadam">
  				</div> -->
  				<!-- END SIDEBAR USERPIC -->
  				<!-- SIDEBAR USER TITLE -->
  				<div class="profile-usertitle">
  					<div class="profile-usertitle-name">
  						Ankita Shivanand Kadam
  					</div>
  					<div class="profile-usertitle-job">
  						ksankita16@gmail.com
  					</div>
            <div class="profile-usertitle-job">
              8792706346
            </div>
  				</div>

  				<!-- END SIDEBAR BUTTONS -->
  				<!-- SIDEBAR MENU -->
  				<div class="profile-usermenu">
  					<ul class="nav">
  						<li class="active">
  							<a href="#profile">
  							<i class="glyphicon glyphicon-home"></i>
  							Objective</a>
  						</li>
  						<li>
  							<a href="#summary">
  							<i class="glyphicon glyphicon-user"></i>
  							Professional Summary </a>
  						</li>
  						<li>
  							<a href="#qualification" >
  							<i class="glyphicon glyphicon-ok"></i>
  							Educational Qualification </a>
  						</li>
  						<li>
  							<a href="#skills">
  							<i class="glyphicon glyphicon-flag"></i>
  							Skills </a>
  						</li>
              <li>
  							<a href="#qualities">
  							<i class="glyphicon glyphicon-flag"></i>
  							Personal Qualities </a>
  						</li>
              <li>
                <a href="#detailss">
                <i class="glyphicon glyphicon-flag"></i>
                Personal Details </a>
              </li>
              <li>
                <div class="row" style="padding-top:20px">
                  <div class="col-md-6 text-right">
                    <a href="https://www.facebook.com/ankita.kadam.52012">
                      <i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="col-md-6">
                    <a href="https://in.linkedin.com/in/ankita-kadam-9b31b645">
                      <i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </li>
  					</ul>
  				</div>
  				<!-- END MENU -->
  			</div>
  		</div>
  		<div class="col-md-9">
        <!-- <div class="profile-content heading" style="  background-image: url('../main.png'); background-repeat: no-repeat;height:100vh;position:relative"> -->
        <!-- </div> -->
              <div class="profile-content" id="profile">
                <h4>Objective</h4>
  			           <p>Energetic Software Engineer holding an experience of 1.8yrs. Looking to join a progressive tech company where my technical skills will be enhanced more.</p>
              </div>
              <div class="profile-content" id="summary">
              <h4>  Experience:</h4>
                <span><srong>  CIOC FMCG Pvt Ltd (Bangalore) : From Dec 2017 – till date </strong></span>
                  <ul>
                  <li> Developing a web application as the requirements.</li>
                  <li> Developing an application without any ones continues supervising.</li>
                  <li> Taken an opportunity to interact with the client’s regarding the changes in the project.</li>
                  <li> Completing the project on or before its deadline.</li>
                </ul>
              <h4>  Projects: </h4>
              <span><srong>  Ecommerce Website: </strong></span>
                <ul>
                  <li> Developing an UI for the users to order the products from the site.</li>
                  <li> Developing the site admin panel where the store can manage all the products stocks, adding a new products on the site.</li>
                  <li> Technologies used: HTML, CSS, Bootstrap, Angularjs, Python, Django </li>
                </ul>
                <span><srong>Logistic Management:</strong></span>
                  <ul>
                    <li> Developing a web application to ease the work, of a logistic company, providing mechanical parts which has lots of product billing to be done.</li>
                    <li> Developing a module from where a company can raise PO, provide Invoices, check its stock, can get a hard copy of all such as invoices, PO, sales etc.</li>
                    <li> Technologies used: HTML, CSS, Bootstrap, Angularjs, Python, Django </li>
                  </ul>
                  <span><srong>Website :</strong></span>
                    <ul>
                      <li> Designed and Developed website for a client dealing in elevator ropes</li>
                      <li> Developed a ERP for the website from where the user can fill the data from and its easy for the customer to change the data on website when and where they need.</li>
                      <li> Technologies used: HTML, CSS, Bootstrap, Angularjs, Python, Django </li>
                    </ul>
            </div>
            <div class="profile-content" id="qualification">
                <h4>  Educational Qualification:</h4>
              <table class="table">
              <thead class="text-center">
                <tr>
                  <th>Degree</th>
                  <th>Institute</th>
                  <th>University</th>
                  <th>Year</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MCA</td>
                  <td>Nitte Mahalinga Adyanthaya Memorial Institute Of Technology, Nitte</td>
                  <td>VTU</td>
                  <td>2017</td>
                  <td>8.31 CGPA</td>
                </tr>
                <tr>
                  <td>BCA</td>
                  <td>SES, Shivaji Arts, Commerce & BCA College, Karwar</td>
                  <td>KUD</td>
                  <td>2014</td>
                  <td>78.66%</td>
                </tr>
                <tr>
                  <td>12th</td>
                  <td>Divekar PU College of Commerce, Karwar </td>
                  <td>Karnataka Education Board</td>
                  <td>2011</td>
                  <td>60.33%</td>
                </tr>
                <tr>
                  <td>10th</td>
                  <td>Sacred Heart Convent High School, Karwar </td>
                  <td>Karnataka Education Board</td>
                  <td>2009</td>
                  <td>69.44%</td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="profile-content" id="skills">
                <h4> Skills:</h4>
              <table class="table">
              <thead class="text-center">
                <tr>
                  <th>Skill</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HTML</td>
                  <td><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span></td>

                </tr>
                <tr>
                  <td>CSS</td>
                  <td><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span></td>
                </tr>
                <tr>
                  <td>Bootstrap</td>
                  <td><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span></td>
                </tr>
                <tr>
                  <td>Angularjs</td>
                  <td><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span></td>
                </tr>
                <tr>
                  <td>Python</td>
                  <td><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span></td>
                </tr>
                <tr>
                  <td>Django</td>
                  <td><span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span></td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="profile-content" id="qualities">
                <h4> Personal Qualities:</h4>
                <ul>
                  <li>Good Written & Oral Communication Skills</li>
                  <li>Optimistic</li>
                  <li>Willingness to Learn</li>
                  <li>Flexible team player</li>
                  <li>Able to interact easily with people of diverse age, culture and background</li>
                  <li>Adapt to changing environment.</li>
                </ul>
            </div>
            <div class="profile-content" id="detailss">
                <h4> Personal Details:</h4>
                <div class="row">
                  <div class="col-md-2 text-right">
                    Name :
                  </div>
                  <div class="col-md-8">
                    Ankita Shivanand Kadam
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 text-right">
                    DOB :
                  </div>
                  <div class="col-md-8">
                  16th Sept 1993
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 text-right">
                    Gender :
                  </div>
                  <div class="col-md-8">
                    Female
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 text-right">
                    Nationality :
                  </div>
                  <div class="col-md-8">
                  Indian
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 text-right">
                    Permanent Address :
                  </div>
                  <div class="col-md-8">
                    C/o. Shivanand Kadam,<br/>
                      Devawada, Chittakula, Sadashivgad,<br/>
                      Karwar PIN: 581352<br/>
                      Dist: Uttar Kannada<br/>
                      State: Karnataka
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 text-right">
                    Languages :
                  </div>
                  <div class="col-md-8">
                  English, Hindi, Konkani, Marathi and Kannada.
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 text-right">
                    Hobbies :
                  </div>
                  <div class="col-md-8">
                    Playing Indoors, Net Surfing, Listening Music, Travelling.
                  </div>
                </div>
            </div>
            <div class="profile-content" id="declaration">
              <p>I hereby declare that the information given above are true and correct to the best of my knowledge.</p>
              <div class="row">
                <div class="col-md-6">
                  Place : Bangalore
                </div>

              </div>
            </div>
  		</div>
  	</div>
  </div>
</body>
</html>
